.container
  .team-members
    %h1 The MemeOverflow Team
    %h3 Our Story
    .story
      %p MemeOverflow is the brainchild of Fab Mackojc, a rising developer from Devbootcamp's Spring 2013 class. Originally conceived as <a href="http://dbcmemes.com">dbcmemes.com</a>, it gained popularity as a novelty app raising happiness and laughter levels from Dev Bootcamp San Franscisco to Chicago. In order to account for the rising hockey curve in user engagement, an all-star team of 4 was formed to build the next generation in memes. Over the course of a few days our team hacked and launched a product that will probably decrease productivity at Dev Bootcamp. Stay for a few laughs and <a href="http://github.com/fabsays/memeoverflow">help us ship all the memes</a>.
    .team-box.team
      =image_tag "/sam.png", :class => "team-member"
      %span.team-name Steven "Sam Samskies" Miyakawa
      %p
        =link_to "github", "http://github.com/samsamskies"
        =link_to "twitter", "http://twitter.com/samsamskies"
        =link_to "linkedin", "http://linkedin.com/pub/steven-miyakawa-'sam'/66/440/3b2"
    .team-box.team
      =image_tag "/fab.png", :class => "team-member"
      %span.team-name Fab Mackojc
      %p
        =link_to "github", "http://github.com/fab"
        =link_to "twitter", "http://twitter.com/fabsays"
        =link_to "linkedin", "http://linkedin.com/in/fabsays"
    .team-box.team
      =image_tag "/stephen.png", :class => "team-member"
      %span.team-name Stephen "Stephenitis" Nguyen
      %p
        =link_to "github", "http://github.com/stephenitis"
        =link_to "twitter", "http://twitter.com/stephenitis"
        =link_to "linkedin", "http://linkedin.com/in/stephenhnguyen"
    .team-box.team
      =image_tag "/sidney.png", :class => "team-member"
      %span.team-name Sidney "Sida" Zhang
      %p
        =link_to "github", "http://github.com/sidazhang"
        =link_to "twitter", "http://twitter.com/sidazhang"
        =link_to "linkedin", "http://linkedin.com/in/sidneyzhang"
    =link_to(image_tag("/teammeme.jpg", :id => "team-meme"), "http://www.memeoverflow.com/memes/107")
