/* line 10, ../../app/assets/stylesheets/home.css.scss */
/* line 3, ../../app/assets/stylesheets/home.css.scss */
/* line 4, ../../app/assets/stylesheets/home.css.scss */
body {
  background-color: #ebebeb;
}
.btn{
  width: 100px;
  margin-bottom: 10px;
}

.meme-score {
  font-style: bold;
  font-size: 1.75em;

}

/* line 14, ../../app/assets/stylesheets/home.css.scss */
/* line 8, ../../app/assets/stylesheets/home.css.scss */
/* line 10, ../../app/assets/stylesheets/home.css.scss */
div.meme-box {
  width: 280px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: white;
  padding: 8px;
}

/* line 21, ../../app/assets/stylesheets/home.css.scss */
/* line 16, ../../app/assets/stylesheets/home.css.scss */
/* line 19, ../../app/assets/stylesheets/home.css.scss */
div.meme-box .img-container {
  padding-bottom: 5px;
  height: 300px;
  line-height: 300px;
  margin-bottom: 10px;
}

/* line 28, ../../app/assets/stylesheets/home.css.scss */
/* line 24, ../../app/assets/stylesheets/home.css.scss */
/* line 28, ../../app/assets/stylesheets/home.css.scss */
div.meme-box.span4 a.meme-box-delete {
  position: relative;
  top: -15px;
  right: -53%;
}

/* line 37, ../../app/assets/stylesheets/home.css.scss */
/* line 31, ../../app/assets/stylesheets/home.css.scss */
/* line 36, ../../app/assets/stylesheets/home.css.scss */

.buttons-container * {
  display: block;
}

/* line 40, ../../app/assets/stylesheets/home.css.scss */

div.social-share-button *{
  display: inline-block;
}


/* line 46, ../../app/assets/stylesheets/home.css.scss */
/* line 42, ../../app/assets/stylesheets/home.css.scss */
/* line 53, ../../app/assets/stylesheets/home.css.scss */
div.meme-box.span4 .vote-buttons-container * {
  display: inline;
  padding-bottom: 5px;
}

/* form-effects */
/* line 55, ../../app/assets/stylesheets/home.css.scss */
/* line 49, ../../app/assets/stylesheets/home.css.scss */
/* line 62, ../../app/assets/stylesheets/home.css.scss */
.form-effects {
  -webkit-box-shadow: 5px 10px 6px -6px #777;
  -moz-box-shadow: 5px 10px 6px -6px #777;
  box-shadow: 0px 10px 6px -6px #777;
}

/* line 61, ../../app/assets/stylesheets/home.css.scss */
/* line 56, ../../app/assets/stylesheets/home.css.scss */
/* line 70, ../../app/assets/stylesheets/home.css.scss */
.form-effects:before {
  -webkit-box-shadow: 5px 10px 6px -6px #777;
  -moz-box-shadow: 5px 10px 6px -6px #777;
  box-shadow: 0px 10px 6px -6px #777;
}

/* line 67, ../../app/assets/stylesheets/home.css.scss */
/* line 63, ../../app/assets/stylesheets/home.css.scss */
/* line 78, ../../app/assets/stylesheets/home.css.scss */
.form-effects:after {
  -webkit-box-shadow: 5px 100px 6px -6px #777;
  -moz-box-shadow: 5px 10px 6px -6px #777;
  box-shadow: 0px 10px 6px -6px #777;
}

.team-box{
  width: 210px;
  margin-top: 40px;
  background-color: white;
  padding: 8px;
  -webkit-box-shadow: 5px 100px 6px -6px #777;
  -moz-box-shadow: 5px 10px 6px -6px #777;
  box-shadow: 0px 10px 6px -6px #777;
}
.team{
  display:inline-block;
  img{
    width:210px;
    height:210px;
  }
}
.span.team-name{
  font-size: 1em;
  color: black;
}

.team-members{
  padding-top: 100px;
  .story{
    width:700px;
  }
  p{
    font-size: 1.2em;
    word-spacing: 3px;
    line-height: 1.5em;
  }
}
.team-box{
  margin:0 auto;
}
/* form effects */
