// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// div.meme-box.span4 a.meme-box-delete{
//   // display: none;
// }


body {
  background-color: #ebebeb;
}

div.meme-box {
  width: 280px;
  margin-top: 40px;
  background-color: white;
  padding: 8px
}

div.meme-box .img-container {
  padding-bottom: 5px;
  height: 300px;
  line-height: 300px;
  margin-bottom: 10px;
}

div.meme-box.span4 a.meme-box-delete{
  // display: inline-block;
  position: relative;
  top: 7px;
  right: -98%;
  // filter:alpha(opacity=0);
  // opacity:1;
}

.social-share-button {
  width:50px;
  height:50px;
}

div.meme-box.span4 img {
 height:100%;
}

div.meme-box.span4 .buttons-container *{
 display: inline;
 padding-bottom: 5px;
}



/* form-effects */

.form-effects{
  -webkit-box-shadow: 5px 10px 6px -6px #777;
  -moz-box-shadow: 5px 10px 6px -6px #777;
  box-shadow: 0px 10px 6px -6px #777;
}

.form-effects:before{
  -webkit-box-shadow: 5px 10px 6px -6px #777;
  -moz-box-shadow: 5px 10px 6px -6px #777;
  box-shadow: 0px 10px 6px -6px #777;
}

.form-effects:after{
  -webkit-box-shadow: 5px 100px 6px -6px #777;
  -moz-box-shadow: 5px 10px 6px -6px #777;
  box-shadow: 0px 10px 6px -6px #777;
}

/* form effects */

