// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// div.meme-box.span4 a.meme-box-delete{
//   // display: none;
// }

div.meme-box .img-container {
  height: 300px;
  line-height: 300px;
  margin-bottom: 10px;
}

div.meme-box.span4 a.meme-box-delete{
  // display: inline-block;
  position: relative;
  top: 7px;
  right: -98%;
  // filter:alpha(opacity=0);
  // opacity:1;
}

div.social-box {
  position: relative;
  top: -124px;
  right: -6%;
}

div.meme-box.span4 img {
 width: 100%;
}

div.meme-box.span4 .buttons-container *{
 display: inline;
}
