.top-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #bada55;
  line-height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  a {
    text-decoration: none;
    color: black;
    font-size: 2em;
  }
}


.container {
  padding: 60px 10px 0 20px;
  border: 1px solid black;
}

body{
  margin: 0;
}
.leaderboard{
  padding: 5px 5px 5px 5px;
  float:left;
  width: 225px;
  border: 1px solid black;
}
