.container {
  padding-top: 30px;
}

.navbar-inner a {
  text-decoration: none;
}

.leaderboard{
  width: 284px;
  border: 3px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: #ECF0F1;
}


.leaderboard table tr *{
  text-align: left;
}

.leaderboard td:first-child {
  width: 10%;
};
