// REVIEW: please remove these generated comments, they are noisy

// Place all the styles related to the PresentMemes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.presenter-body {
  background-color: black;
  height:100%;
}

.present-meme-box img {
  height:80%;
  margin-top: .5%;
  background-color: black;
  margin-bottom: 2%;
}

span.courtesy{
  margin-top: 10px;
  display:block;
  width: 100%;
  text-align: center;
  color:white;
  font-size: 2em;
}
